/venv
/__pycache__
app/__pycache__/__init__.cpython-313.pyc
app/__pycache__/extensions.cpython-313.pyc
app/__pycache__/models.cpython-313.pyc
app/blueprints/customers/__pycache__/__init__.cpython-313.pyc
app/blueprints/customers/__pycache__/routes.cpython-313.pyc
app/blueprints/customers/__pycache__/schemas.cpython-313.pyc
app/blueprints/inventory/__pycache__/__init__.cpython-313.pyc
app/blueprints/inventory/__pycache__/routes.cpython-313.pyc
app/blueprints/inventory/__pycache__/schemas.cpython-313.pyc
app/blueprints/mechanics/__pycache__/__init__.cpython-313.pyc
app/blueprints/mechanics/__pycache__/routes.cpython-313.pyc
app/blueprints/mechanics/__pycache__/schemas.cpython-313.pyc
app/blueprints/service_tickets/__pycache__/__init__.cpython-313.pyc
app/blueprints/service_tickets/__pycache__/routes.cpython-313.pyc
app/blueprints/service_tickets/__pycache__/schemas.cpython-313.pyc
app/utils/__pycache__/util.cpython-313.pyc
